.navbar_color {
  background-color: #03045e;
}

.btn_color {
  background-color: #5e548e;
  border-color: #5e548e;

  .btn {
    color: white;
  }

}
html, body {
  height: 100%;
}
.content {
  flex: 1;
}
.footer {
  margin-top: auto;
}